/* body {
   font-family:Arial, sans-serif ;
   margin: 0;
   padding: auto;
   line-height: 1.5;
   background-color: rgb(218, 250, 218);
} */
 #historia{
 background-color: rgb(151, 206, 187);
}
#tradicion {
    background-color: rgb(164, 152, 234);
}
#demas {
   background-color: rgb(215, 137, 138);
}
#fot {
   background-color: rgb(177, 170, 210);
}